www/components/**/*
!www/components/.gitignore
node_modules
platforms/ios
platforms/android
www/css/platform.css
www/js/SpiderOakMobile.js
www/js/SpiderOakMobile.min.js
www/tests/SpiderOakMobile-tests.js
_SpecRunner.html
.sass-cache
plugins/**/*
merges/ios/css/platform.css
merges/android/css/platform.css
www/js/SpiderOak-templates.js
plugins/android.json
