/**/gitignore-*
www/components/**/*
bower_components/**/*
!www/components/.gitignore
!bower_components/.gitignore
node_modules
platforms/ios
platforms/android
platforms/platforms.json
www/css/platform.css
www/js/SpiderOakMobile.js
www/js/SpiderOakMobile.min.js
www/tests/SpiderOakMobile-tests.js
_SpecRunner.html
.sass-cache
plugins/**/*
merges/ios/css/platform.css
merges/android/css/platform.css
www/js/SpiderOak-templates.js
plugins/android.json
www/css/*.css
www/css/themes/*.css
.DS_Store
**/*/.DS_Store
config.xml
yarn.lock
*.keystore
