<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../node_modules/mocha/mocha.css" />
  </head>
  <body>
    <div id="mocha"></div>
    <div id="menusheet"><div></div></div>
    <div id="main">
      <div id="subviewScroller">
        <div id="subviews" class="page"></div>
      </div>
    </div>
    <!-- Templates -->
    <script type="text/html" id="folderViewTemplate">
      <div>
        <ul class="folderViewLoading loadingFolders loadingFiles">
          <li>Loading...</li>
        </ul>
        <ul class="foldersList"></ul>
        <ul class="filesList" ></ul>
      </div>
    </script>
    <script type="text/html" id="folderItemViewTemplate">
      <a>
        <div class="icon"><i class="icon-folder"></i></div>
        <div class="foldername"><%= name %></div>
      </a>
    </script>
    <script type="text/html" id="fileItemViewTemplate">
      <a>
        <div class="icon"><i class="icon-<%= icon %>"></i></div>
        <div class="filename"><%= name %></div>
        <div class="subtext darkgray">
          <div class="file-info">
            <%= description %>,
            <%= fileHelper.readableFileSize(size) %></div>
            <div class="file-modified">
              <%= moment(new String(mtime), "X").fromNow() %>
            </div>
          <div class="clearfix"></div>
        </div>
        <div class="rightButton"><i class="icon-star innershadow"></i></div>
      </a>
    </script>
    <!-- Testing apparatus -->
    <script src="../../node_modules/mocha/mocha.js"></script>
    <script src="../../node_modules/chai/chai.js"></script>
    <!-- Sinon.JS - might need more individual libs -->
    <script src="../../node_modules/sinon/lib/sinon.js"></script>
    <script src="../../node_modules/sinon/lib/sinon/spy.js"></script>
    <script src="../../node_modules/sinon/lib/sinon/stub.js"></script>
    <script src="../../node_modules/sinon/lib/sinon/mock.js"></script>
    <script src="../../node_modules/sinon/lib/sinon/util/event.js"></script>
    <script src="../../node_modules/sinon/lib/sinon/util/fake_xml_http_request.js"></script>
    <script src="../../node_modules/sinon/lib/sinon/util/fake_server.js"></script>
    <!-- sinon-chai -->
    <script src="../../node_modules/sinon-chai/lib/sinon-chai.js"></script>
    <!-- Bower components -->
    <script src="../components/zepto/zepto.js"></script>
    <script src="../components/yepnope/yepnope.js"></script>
    <script src="../components/underscore/underscore.js"></script>
    <script src="../components/backbone/backbone.js"></script>
    <script src="../components/backbone.basicauth/backbone.basicauth.js"></script> 
    <script src="../components/backstack/backstack.js"></script>
    <script src="../components/Nibbler.min/index.js"></script>
    <script src="../components/iscroll/src/iscroll.js"></script>
    <script src="../components/moment/moment.js"></script>
    <!-- chai-jquery - after zepto -->
    <script>
      if (typeof jQuery === "undefined") {
        <!-- Some fancy footwork so chai-jquery uses zepto: -->
        var wasjQuery = jQuery;
        var jQuery = Zepto;
      }
    </script>
    <script src="../../node_modules/chai-jquery/chai-jquery.js"></script>
    <script>
      <!-- Undo fancy footwork, so nothing besides chai-jquery is affected: -->
      if (typeof wasjQuery === "undefined") {
        jQuery = wasjQuery;
      }
    </script>
    <!-- SpiderOak app js -->
    <script src="../js/SpiderOakMobile.js"></script>
    <!-- initialize mocha/chai/etc -->
    <script>
      mocha.ui('bdd');
      mocha.reporter('html');
      mocha.setup({ignoreLeaks: true});
      var should = chai.should();
    </script>
    <script src="./SpiderOakMobile-tests.js"></script>
    <script>
      if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
      else { mocha.run(); }
    </script>
  </body>
</html>
