<?xml version='1.0' encoding='utf-8'?>
<widget id="com.spideroakblue.android" version="2.9.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SpiderOakBlue</name>
    <description>
        SpiderOak Blue Mobile Client.
    </description>
    <author email="tommy@devgeeks.org" href="http://www.spideroak.com">
        SpiderOak Blue
    </author>
    <icon height="512" src="res/icon/cordova_512.png" width="512" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="loglevel" value="DEBUG" />
    <preference name="phonegap-version" value="2.6.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="keepRunning" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <access origin="*" />
    <content src="index.html" />
</widget>
