<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name = "format-detection" content = "telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" 
      content="user-scalable=no, initial-scale=1, maximum-scale=1, 
        minimum-scale=1, width=device-width" />
    <title>SpiderOak Mobile</title>
    <link rel="stylesheet" type="text/css" href="css/icomoon/style.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <script src="components/zepto/zepto.js"></script>
    <script src="components/yepnope/yepnope.js"></script>
    <script type="text/javascript">
      yepnope({
        test : $.os.android,
        yep  : [
          'css/themes/android.css'
        ],
        nope : [
          // force android for now..
          // 'css/themes/ios.css'
          'css/themes/android.css'
        ],
        complete: function(url, result, key) {
          $('body').addClass((result)?"android":"ios");
          // @FIXME: This seems cludgey
          if (navigator.splashscreen) {
            navigator.splashscreen.hide();
          }
          window.setTimeout(function(){
            $(".splash").hide();
          },500);
          window.cssLoaded = true;
        }
      });
    </script>
  </head>
  <body ontouchstart="">
    <div id="app" class="app">
      <div id="menusheet" class="menu">
        <div class="content">
          <ul><li class="sep">SpiderSync</li></ul>
          <ul class="spidersync">
            <li class="current">
              <a><i class="icon-folder"></i> SpiderOak folder</a>
            </li>
          </ul>
          <ul><li class="sep">Devices</li></ul>
          <ul class="devices"></ul>
          <ul><li class="sep">Sections</li></ul>
          <ul class="sections">
            <li>
                <a href="#"><i class="icon-cloud-upload"></i> ShareRooms</a>
            </li>
            <li><a href="#"><i class="icon-clock"></i> Recents</a></li>
            <li><a href="#"><i class="icon-star"></i> Favorites</a></li>
            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
            <li><a href="#"><i class="icon-exit"></i> Log out</a></li>
          </ul>
        </div>
      </div>
      <div id="main" class="main">
        <div id="nav" class="nav">
          <a class="menu-btn"></a>
          <a class="back-btn"></a>
          <div class="title">SpiderOak</div>
        </div>
        <div id="subviews" class="page"></div>
      </div>
      <div id="login" class="login">
        <!-- @FIXME: inline styles are fail -->
        <img src="img/brand_logo.png" 
          style="display:block; width:100px;margin: 10px auto;" />
        <form class="login-form">
          <div class="login-input">
            <input id="unme" type="text" name="unme"
                       autocapitalize="off" placeholder="Username" />
          </div>
          <div style="height:5px;"></div>
          <div class="login-input">
            <input id="pwrd" type="password" name="pwrd"
                       placeholder="Password" />
          </div>
          <a class="button loginButton">Log in</a>
          <a class="button shareRoomsButton">Go to ShareRooms</a>
          <input type="submit" style="visibility:hidden" />
        </form>
      </div>
    </div>
    <div class="splash"><img src="img/brand_logo.png" width="100%" /></div>
    <div id="dialog" class="modal"></div>
    <!-- Templates -->
    <script type="text/html" id="folderViewTemplate">
      <div>
        <ul class="folderViewLoading loadingFolders loadingFiles">
          <li>Loading...</li>
        </ul>
        <ul class="foldersList"></ul>
        <ul class="filesList" ></ul>
      </div>
    </script>
    <script type="text/html" id="folderItemViewTemplate">
      <a>
        <div class="icon"><i class="icon-folder"></i></div>
        <div class="foldername"><%= name %></div>
      </a>
    </script>
    <script type="text/html" id="fileItemViewTemplate">
      <a>
        <div class="icon"><i class="icon-<%= icon %>"></i></div>
        <div class="filename"><%= name %></div>
        <div class="subtext darkgray">
          <div class="file-info">
            <%= description %>,
            <%= fileHelper.readableFileSize(size) %></div>
            <div class="file-modified">
              <%= moment(new String(mtime), "X").fromNow() %>
            </div>
          <div class="clearfix"></div>
        </div>
        <div class="rightButton"><i class="icon-star innershadow"></i></div>
      </a>
    </script>
    <script type="text/html" id="progress-dialog">
      <div class="progress-dialog">
        <h3 class="title"><%= title %></h3>
        <p class="subtitle"><%= subtitle %></p>
        <div class="meter">
          <span class="progress" style="width: <%= start %>%"></span>
        </div>
      </div>
    </script>
    <script type="text/html" id="wait-dialog">
      <div class="wait-dialog">
        <h3 class="title"><%= title %></h3>
        <p class="subtitle"><%= subtitle %></p>
        <div id="fadingBarsG">
          <div id="fadingBarsG_1" class="fadingBarsG"></div>
          <div id="fadingBarsG_2" class="fadingBarsG"></div>
          <div id="fadingBarsG_3" class="fadingBarsG"></div>
          <div id="fadingBarsG_4" class="fadingBarsG"></div>
          <div id="fadingBarsG_5" class="fadingBarsG"></div>
          <div id="fadingBarsG_6" class="fadingBarsG"></div>
          <div id="fadingBarsG_7" class="fadingBarsG"></div>
          <div id="fadingBarsG_8" class="fadingBarsG"></div>
        </div>
      </div>
    </script>
    <!-- Cordova -->
    <script src="cordova.js"></script>
    <script src="FileViewerPlugin.js"></script>
    <!-- Components -->
    <script src="components/underscore/underscore.js"></script>
    <script src="components/backbone/backbone.js"></script>
    <script src="components/backbone.basicauth/backbone.basicauth.js"></script>
    <script src="components/backstack/backstack.js"></script>
    <script src="components/Nibbler.min/index.js"></script>
    <script src="components/iscroll/src/iscroll.js"></script>
    <script src="components/moment/moment.js"></script>
    <!-- SpiderOakMobile script -->
    <script src="js/SpiderOakMobile.js"></script>
    <!-- initialization -->
    <script type="text/javascript">
      window.spiderOakApp && window.spiderOakApp.initialize();
    </script>
  </body>
</html>
