@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-folder:before, .icon-finder:before, .icon-windows8:before, .icon-tux:before, .icon-cog:before, .icon-star:before, .icon-clock:before, .icon-cloud-upload:before, .icon-menu:before, .icon-folder-open:before, .icon-file:before, .icon-file-pdf:before, .icon-file-excel:before, .icon-file-zip:before, .icon-file-xml:before, .icon-file-css:before, .icon-file-word:before, .icon-image:before, .icon-heart:before, .icon-info:before, .icon-close:before, .icon-checkmark:before, .icon-enter:before, .icon-exit:before, .icon-checkbox-checked:before, .icon-checkbox-unchecked:before, .icon-share:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-folder:before {
	content: "\e000";
}
.icon-finder:before {
	content: "\e001";
}
.icon-windows8:before {
	content: "\e002";
}
.icon-tux:before {
	content: "\e003";
}
.icon-cog:before {
	content: "\e004";
}
.icon-star:before {
	content: "\e005";
}
.icon-clock:before {
	content: "\e006";
}
.icon-cloud-upload:before {
	content: "\e007";
}
.icon-menu:before {
	content: "\e008";
}
.icon-folder-open:before {
	content: "\e009";
}
.icon-file:before {
	content: "\e00a";
}
.icon-file-pdf:before {
	content: "\e00b";
}
.icon-file-excel:before {
	content: "\e00c";
}
.icon-file-zip:before {
	content: "\e00d";
}
.icon-file-xml:before {
	content: "\e00e";
}
.icon-file-css:before {
	content: "\e00f";
}
.icon-file-word:before {
	content: "\e010";
}
.icon-image:before {
	content: "\e011";
}
.icon-heart:before {
	content: "\e012";
}
.icon-info:before {
	content: "\e013";
}
.icon-close:before {
	content: "\e014";
}
.icon-checkmark:before {
	content: "\e015";
}
.icon-enter:before {
	content: "\e016";
}
.icon-exit:before {
	content: "\e017";
}
.icon-checkbox-checked:before {
	content: "\e018";
}
.icon-checkbox-unchecked:before {
	content: "\e019";
}
.icon-share:before {
	content: "\e01a";
}
