<div style="background-color: #eee;">
  <div style="display:<%= actionBar ? 'block' : 'none' %>">
    <div id="nav" class="nav">
      <a class="back-btn"></a>
      <div class="title">About SpiderOak</div>
    </div>
  </div>
  <div style="padding:10px;font-size:0.9em;">
    <p>The SpiderOak <%= platform %> application provides an easy way to access your data on the move, open ShareRooms, view historical versions, and quickly email files to friends, colleagues, and/or clients.</p>
    <p>However - you don’t have to be a SpiderOak user to enjoy the benefits of our <%= platform %> application. You can open the ShareRoom of a friend or colleague by entering their ShareID and a valid RoomKey. You can also email files through a secure link.</p>
    <p>If you would like to learn more about SpiderOak, please visit <a href="#spideroak" data-url="https://spideroak.com" class="site-link" style="color:#666;">https://spideroak.com</a> and download the SpiderOak client to get started with your FREE 2 GB account.</p>
    <p>Thank you for using SpiderOak and please don’t hesitate to send comments or questions to <a href="#email-feedback" class="email-link" style="color:#666;"><%= platform %>@spideroak.com</a>.</p>
  </div>
</div>