<div class="toolbar-button">
  <a class="file-share-button<%= (disabled) ? '' : ' enabled' %>"><i class="icon-share"></i></a>
</div>
<div class="toolbar-button">
  <a class="file-save-button<%= (disabled) ? '' : ' enabled' %>"><i class="icon-download"></i></a>
</div>
<div class="toolbar-button">
  <a class="file-send-button<%= (disabled) ? '' : ' enabled' %>"><i class="icon-link"></i></a>
</div>
<div class="toolbar-button">
  <a class="file-favorite-button rightButton<% if(isFavorite) { %> favorite<% } %><%= (disabled) ? '' : ' enabled' %>"><i class="icon-star-2"></i></a>
</div>