<div>
  <form name="provide-share-room-password" class="login-form">
    <div class="login-input">
      <input id="pwrd" type="password" name="pwrd"
                autocorrect="off" autocapitalize="off"
                placeholder="Password: <%= share_id %>/<%= room_key %>"
                tabindex="1" />
    </div>
    <a class="button submitShareRoomPasswordButton" tabindex="-1">
      Submit Password
    </a>
    <input type="submit" style="visibility:hidden" tabindex="-1" />
  </form>
</div>
