<a href='#share'>
  <div class="icon">
    <i class='icon-cloud-upload'></i>
  </div>
  <% if (password_required) { %>
    <div class="foldername">
      <i class="icon-lock" style="color:#999;font-size:80%;"></i>
      <em><%= share_id %> / <%= room_key %></em>
    </div>
  <% } else { %>
    <div class="foldername">
      <% if (name) { %> <%= name %>
      <% } else if (beenSituated) { %>
      <span title="Fetch failed, try later" style="color:#999"> &asymp; </span>
      <em><%= share_id %> / <%= room_key %></em>
      <% } else { %>
         <span style='color:#999;'>Loading...</span>
      <% } %>
    </div>
  <% } %>
  <div class='rightButton removePublicShare'><i class='icon-close'></i></div>
</a>
