<!-- @FIXME: we will probably need some organized styles for settings -->
<div>
  <form class="login-form">
    <ul style="font-size:0.8em;">
      <li>
        <div class="label">Server</div>
        <div class="right-input" width="30em">
          <input id="serverInput" type="text" name="server"
                 required
                 class="input-block-level"
                 autocorrect="off" autocapitalize="off" 
                 placeholder="Server"
                 value="<%= server %>"/>
        </div>
        <a class="button changeServerButton"
           style="height: 1em; width:3em; float: right; clear: right;
                  margin-top: -10px; margin-right: 1em"
           >Submit</a>
        <input type="submit" style="visibility:hidden" />
        <div class="clearfix"></div>
      </li>
    </ul>
  </form>
  <% if(isLoggedIn) { %>
  <div align="center">
    Note: changing the server address will log the current session out.
  </div>
  <% } %>
</div>
