<div>
  <ul style="font-size:0.8em;">
    <li>
      <div class="label">Name</div>
      <div class="info"><%= firstname + " " + lastname %></div>
      <div class="clearfix"></div>
    </li>
    <li>
      <div class="label">Username</div>
      <div class="info">
        <%= spiderOakApp.b32nibbler.decode(
          spiderOakApp.accountModel.get("b32username")
        ) %>
      </div>
      <div class="clearfix"></div>
    </li>
    <li>
      <div class="label">Used</div>
      <div class="info"><%= backupsize %></div>
      <div class="clearfix"></div>
    </li>
    <li>
      <div class="label">Total</div>
      <div class="info"><%= size %>GB</div>
      <div class="clearfix"></div>
    </li>
    <li>
      <div class="label">Devices</div>
      <div class="info">
        <%= spiderOakApp.menuSheetView.devicesCollection.length %>
      </div>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>