#jqt ul.edgetoedge {
  margin: 0;
}
#jqt > div {
  background-image: url(../img/cream_dust_@2X.png);
  background-color: #fff;
}
.ios #menusheet {
  background-image: none;
  background-color: #333;
}
.ios #menusheet ul li a {
  background-color: #ccc;
  border-color: #333;
  color: #333;
}
.ios #menusheet form ul.search {
  margin-left: -1px;
  border-bottom: 2px solid #999;
}
.ios #menusheet form ul.search li {
  padding: 8px 5px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.03, #222),
    color-stop(0.52, #444),
    color-stop(0.76, #666)
  );
}
.ios #menusheet form ul.edgetoedge li input[type=search] {
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.4);
  border-radius: 15px;
  padding: 0 28px 0 28px;
  margin: 0;
  line-height: 26px;
}
.ios #menusheet .clear-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  color: #aaa;
  display: none;
}
.ios #menusheet .search-icon {
  position: absolute;
  left: 13px;
  top: 14px;
  color: #aaa;
  font-size: 15px;
}
.ios #menusheet form ul li ::-webkit-input-placeholder {
  color: #bfbfbf;
  text-shadow: white 0 1px 0;
  font-size: 15px;
  padding-top: 2px;
}
.ios #menusheet .tip {
  padding: 5px 10px;
  background-color: #666;
  color: #ccc;
  border-bottom: 1px solid #999;
}
.ios #menusheet .sep {
  padding: 0 10px;
  background-color: #333;
  color: #ccc;
  border-bottom: 1px solid #999;
}
.ios #login form {
  -webkit-transform: translateZ(10px);
}
.ios #login .login-logo {
  background: url(../img/brand_logo.png) center top no-repeat;
  -webkit-background-size: 130px 130px;
  height: 120px;
  width:100%;
}
.ios #login .login-logo.rotated {
  -webkit-transform: rotate(17.5deg) translate(-60px, 70px);
}
.ios #login .loginButton {
  position: absolute;
  right: 0;
  padding: 10px 60px;
  margin: 0 10px;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ios #login .shareRoomsButton {
  margin: 0 10px;
  position: absolute;
  left: 0;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ios #login .switch {
  position: absolute;
  margin: 0 10px;
  right: 0;
  top: 50px;
}
.ios #login .switch-label {
  font-size: 12px;
  position: absolute;
  margin: 0 10px;
  right: 0;
  top: 83px;
}

