/**
 * This file should have generic css that will be used for all platforms
 */

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

.app {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

.menu {
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 270px;
  background-color: #333;
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.page {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 44px;
  background-color: #e4e4e4;
}

.splash {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #eee;
  padding: 40px;
}

.login {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
}

.nav {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  border-width: 0 0 0 1px;
}

ul li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid #ccc;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

ul li:last-child {
  border-bottom: 1px solid #ccc;
}

ul li small {
  font-size: 0.6em;
  display: block;
  position: static;
  text-align: left;
  overflow: hidden;
  padding-left: 25px;
  text-overflow: ellipsis;
}

ul li a {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  display: block;
  padding: 10px;
  margin: -10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #000;
}

ul li a.active {
  background-image: none;
  /*background-color: #3366cc;*/
  background-color: #ccc;
  color: black;
}

ul li a.active small.counter {
  background-color: #24478f;
}

ul li ::-webkit-input-placeholder {
  color: #8293a1;
  text-shadow: #e8ebee 0 1px 0;
}

ul li.sep {
  font-size: 0.9em;
  padding: 2px 10px;
  background-color: #666;
  color: white;
  border: none;
}

ul.rounded {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}

ul.rounded li {
  border: none;
  border-top: 1px solid #ccc;
}

ul.rounded li:first-child {
  border-top: none;
}

.folderViewLoading li,
.mySharesViewLoading li {
  text-align: center;
}

.menu ul li {
  background-color: #ccc;
  border-color: #333;
}

.menu ul li a.active {
  background-color: #666;
  color: #ccc;
}

.menu ul li.sep {
  background-color: #333;
  color: white;
}

.icon-large {
  font-size: 1.4em;
}

.hidden {
  display: none;
}

.folderViewLoading,
.mySharesViewLoading,
.visitedSharesViewLoading {
  display: none;
}

.folderViewLoading.loadingFolders,
.folderViewLoading.loadingFiles,
.mySharesViewLoading.loadingMyShares,
.visitedSharesViewLoading.loadingVisitedShares {
  display: block;
}

.file-info {
  float: left;
}

.file-modified {
  float: right;
}

.clearfix {
  clear: both;
}

.gray {
  color: #ccc;
}

.darkgray {
  color: #666;
}

.innershadow {
  text-shadow: 0 1px 0 white, 0 -1px 0 #999;
}

ul li a {
  height: 30px;
}

ul li a .icon {
  position: absolute;
  left: 5px;
  top: 10px;
  height: 30px;
  width: 20px;
  padding: 5px;
  font-size: 1.2em;
  color: #333;
}
ul li a .rightButton {
  position: absolute;
  right: 5px;
  top: 0;
  height: 30px;
  width: 20px;
  padding: 15px 5px 5px 5px;
  font-size: 1.1em;
  color: #ccc;
}

ul li a .rightButton.favorite {
  color: orange;
}

ul li a .filename {
  position: absolute;
  left: 45px;
  right: 40px;
  top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li a .foldername {
  position: absolute;
  left: 45px;
  right: 40px;
  top: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li a .subtext {
  position: absolute;
  left: 45px;
  top: 30px;
  right: 40px;
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addShareRoom {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
}

.modal .title,
.modal .progress-dialog .subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.modal .progress-dialog {
  /*display: none;*/
  position: absolute;
  top: 30%;
  left: 15%;
  right: 15%;
  border-radius: 5px;
  background-color: #000;
  color: #ccc;
  text-align: center;
}

.meter { 
  height: 15px;  /* Can be anything */
  position: relative;
  margin: 20px;
  background: #333;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
}

.meter > span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(120,120,120);
  position: relative;
  overflow: hidden;
}

.modal .wait-dialog {
  /*display: none;*/
  position: absolute;
  top: 30%;
  left: 15%;
  right: 15%;
  border-radius: 5px;
  background-color: #000;
  color: #ccc;
  text-align: center;
}

#fadingBarsG{
  position:relative;
  width:83px;
  height:10px;
  margin: 20px auto;
}

.fadingBarsG{
  position:absolute;
  top:0;
  background-color:#cccccc;
  width:10px;
  height:10px;
  -webkit-animation-name:bounce_fadingBarsG;
  -webkit-animation-duration:1.9s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-transform:scale(.3);
}

#fadingBarsG_1{
left:0;
-webkit-animation-delay:0.36s;
}

#fadingBarsG_2{
left:10px;
-webkit-animation-delay:0.55s;
}

#fadingBarsG_3{
left:21px;
-webkit-animation-delay:0.74s;
}

#fadingBarsG_4{
left:31px;
-webkit-animation-delay:0.93s;
}

#fadingBarsG_5{
left:42px;
-webkit-animation-delay:1.12s;
}

#fadingBarsG_6{
left:52px;
-webkit-animation-delay:1.31s;
}

#fadingBarsG_7{
left:62px;
-webkit-animation-delay:1.5s;
}

#fadingBarsG_8{
left:73px;
-webkit-animation-delay:1.69s;
}

@-webkit-keyframes bounce_fadingBarsG{
0%{
-webkit-transform:scale(1);
background-color:#cccccc;
}

100%{
-webkit-transform:scale(.3);
background-color:#000000;
}

}


